{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block logo %}
static/images/logo.jpg
{% endblock %}

{% block content %}
<br>
<div class="container-lg">
    <h1 class="h1confirm">Your details</h1>
    <table>
        <tr><td class="confirmtd">First Name</td><td class="confirmtd">{{form_data['firstname']}}</td></tr>
        <tr><td class="confirmtd">Last Name</td><td class="confirmtd">{{form_data['lastname']}}</td></tr>
        <tr><td class="confirmtd">Age</td><td class="confirmtd">{{form_data['age']}}</td></tr>
        <tr><td class="confirmtd">Your Email</td><td class="confirmtd">{{form_data['youremail']}}</td></tr>
        <tr><td class="confirmtd">Emergency Email</td><td class="confirmtd">{{form_data['emergencyemail']}}</td></tr>
        <tr><td class="confirmtd">About You</td><td class="confirmtd">{{form_data['aboutme']}}</td></tr>

    </table>

    <div class="confirm_buttons">
        <a href="/" class="btn btn-primary">Cancel</a>
       <a href="/" class="btn btn-primary">Confirm</a>
        <a href="{{url_for( 'register',**form_data)}}" class="btn btn-primary">Edit</a>
    </div>
</div>
<br>

<img class="img-fluid" src="static/images/confirm.jpg" alt="confirm">

<br>


{% endblock %}