{% extends "layout.html" %}

{% block title %}
Draws
{% endblock %}

{% block logo %}
static/images/logo.jpg
{% endblock %}

{% block content %}

<div class = "row">
   <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws1.jpg" alt = "team photo">
    </div>
     <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws2.jpg" alt = "team photo">
    </div>
     <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws4.jpg" alt = "team photo">
    </div>
     <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws3.jpg" alt = "team photo">
    </div>

      </div>


<div class='hr top'>
    <span class='hr-title'>Draws</span>
  </div>

<div class="container">
            <div class="notices_meta">
        <a href="{{ url_for('draws_cud', id=0, task='add') }}" class="btn-primary btn">New Draw</a>
    </div>

      {% set ns=namespace(gameda="") %}
{% for row in draws %}
      {% if row['gamedate'] | gameday != ns.gameda %}
            {% if not loop.first %}
            </table>

            {% endif %}
                <hr>
                <h3 class="labels">Draws - {{ row['gamedate'] | gameday}} </h3>
                <hr>
                <table class="draws_table">
                <tr>
                <th class="th" >Time</th>
                <th class="th">Team 1</th>
                <th class="th"></th>
                <th class="th">Team 2</th>
                <th class="th2"></th>
                <th class="th2"></th>
                </tr>
            {% set ns.gameda = row['gamedate'] | gameday %}
      {% endif %}

          <tr>
            <td class="td">{{row['gamedate'] | gametime }}</td>
            <td class="td">{{row['team1']}}</td>
            <td class="td">VS</td>
            <td class="td">{{row['team2']}}</td>
            <td class="td2"> <a href="{{ url_for('draws_cud', id=row['game_id'], task='update') }}" class="btn-primary btn">Update</a></td>
            <td class="td2"><a href="{{ url_for('draws_cud', id=row['game_id'], task='delete') }}" class="btn-primary btn">Delete</a></td>
          </tr>

    {% endfor %}
      </table>
<hr>

</div>



{% endblock %}