{% extends "layout.html" %}

{% block title %}
Draws
{% endblock %}

{% block logo %}
static/images/logo.jpg
{% endblock %}

{% block content %}

<div class = "row">
   <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws1.jpg" alt = "team photo">
    </div>
     <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws2.jpg" alt = "team photo">
    </div>
     <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws4.jpg" alt = "team photo">
    </div>
     <div class = "col-sm-3 draws">
        <img class="img-fluid" src = "static/images/draws3.jpg" alt = "team photo">
    </div>

      </div>


<div class='hr top'>
    <span class='hr-title'>Draws</span>
  </div>

<div class="container">
<hr>
<h3 class="labels">Draws - 15/3/23</h3>
       <hr>
  <table class="draws_table">
  <tr>
    <th class="th" >Time</th>
    <th class="th">Team 1</th>
    <th class="th"></th>
    <th class="th">Team 2</th>
  </tr>
  <tr>
    <td class="td">8:00am</td>
    <td class="td">Hot Shots 1</td>
    <td class="td">VS</td>
    <td class="td">WEGC</td>
  </tr>
  <tr>
   <td class="td">9:30am</td>
    <td class="td">East 2</td>
    <td class="td">VS</td>
    <td class="td">Hot Shots 2</td>
  </tr>
    <tr>
   <td class="td">11:00pm</td>
    <td class="td">Vic Uni 2</td>
    <td class="td">VS</td>
    <td class="td">Hot Shots 3</td>
  </tr>
</table>

<hr>
<h3 class="labels">Draws - 22/3/23</h3>
       <hr>
  <table class="draws_table">
  <tr>
    <th class="th" >Time</th>
    <th class="th">Team 1</th>
    <th class="th"></th>
    <th class="th">Team 2</th>
  </tr>
  <tr>
    <td class="td">8:30am</td>
    <td class="td">Hot Shots 3</td>
    <td class="td">VS</td>
    <td class="td">St Marys 2</td>
  </tr>
  <tr>
   <td class="td">12:30pm</td>
    <td class="td">Vic Uni 1</td>
    <td class="td">VS</td>
    <td class="td">Hot Shots 1</td>
  </tr>
    <tr>
   <td class="td">2:00pm</td>
    <td class="td">WGC</td>
    <td class="td">VS</td>
    <td class="td">Hot Shots 2</td>
  </tr>
</table>

<hr>
    <h3 class="labels">Draws - 29/3/23</h3>
       <hr>
  <table class="draws_table">
  <tr>
    <th class="th" >Time</th>
    <th class="th">Team 1</th>
    <th class="th"></th>
    <th class="th">Team 2</th>
  </tr>
  <tr>
    <td class="td">9:00am</td>
    <td class="td">Hot Shots 2</td>
    <td class="td">VS</td>
    <td class="td">St Marys</td>
  </tr>
  <tr>
   <td class="td">10:30am</td>
    <td class="td">Vic Uni</td>
    <td class="td">VS</td>
    <td class="td">Hot Shots 3</td>
  </tr>
    <tr>
   <td class="td">12:30pm</td>
    <td class="td">East</td>
    <td class="td">VS</td>
    <td class="td">Hot Shots 1</td>
  </tr>
</table>

</div>

{% endblock %}