{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block logo %}
static/images/logo.jpg
{% endblock %}

{% block content %}
<div class="container-sm">
    <br>
    <form action="/login" method="POST">
        <p class="h1">Please enter your credentials</p>
        <hr>
        <div class="alert">{{error}}</div>
         <div>
          <label for="email" class="form-label">Please enter your email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{email}}" required>
        </div>

        <label for="password" class="form-label">Please enter your password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="" value="{{password}}" required>
         <hr>
        <div class="text-end">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
{% endblock %}

