{% extends "layout.html" %}

{% block title %}
Team Page
{% endblock %}

{% block logo %}
static/images/logo.jpg
{% endblock %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/img1.jpg" class="d-block w-100" alt="1">
    </div>
    <div class="carousel-item">
      <img src="static/images/img2.jpg" class="d-block w-100" alt="2">
    </div>
    <div class="carousel-item">
      <img src="static/images/img3.jpg" class="d-block w-100" alt="3">
    </div>
     <div class="carousel-item">
      <img src="static/images/img4.jpg" class="d-block w-100" alt="4">
    </div>
     <div class="carousel-item">
      <img src="static/images/img5.jpg" class="d-block w-100" alt="5">
    </div>
  </div>
</div>

<div class='hr'>
    <span class='hr-title'>Team Page</span>
  </div>


<div class = "container">

<div class="row">
    <div class="backing">
     <h3>Training</h3>
       <hr>
     <p class="subheading"><i> Trainings for the team are twice a week, Wednesday and Thusday</i></p>
        <p class="teamtext">They are at ASB we will be meeting at quarter to 5 at the entrance,
           and we will find a free court for training start at 5. It will be a two-hour session. It will consist of a
           warm-up, skills and game play if we have enough people. We want to improve our skills by doing drills.
           But these skills can be learnt properly if they can't be put into actual game settings so during trainings we
           will play half court or a full game. This is to take everything  we have learnt that session and put it into
           game play to help our brains remember it.</p>

    <div class="photos">
            <img class="img-fluid " src = "static/images/teams1.jpg" alt = "team Photo">
            <img class="img-fluid" src = "static/images/teams2.jpg" alt = "team Photo">

        </div>
        <p class="teamtext"> These trainings are very important, so it's important you make them if you can. If you are
            unable to please email Dave directly as he needs to know who isn't coming, so he can arrange what you guys
            will be doing each session. These training  times should always be the same if there's any problems or training
            is cancelled you will receive a direct email if not there will always be updates on the notice's page
            on the website. That will be updated regularly so keep an eye on that. </p>
</div>
</div>

   <br>

<div class = "row">
    <div class = "col-sm-6 backing">
      <br>
      <h3>Umpiring</h3>
      <hr>
         <p class="subheading"><i>In this squad we like to get volunteers</i></p>
      <p class="teamtext">Every Week we would like one or two of you to sign
          up to umpire a game. You will register with your coach at training. When it comes to umpiring you need to show up 15 minutes
          before to sign in and find your court your on form the sign-in sheet at the reception desk at the courts.
          You need to do nail check and see who will start with the ball. You will be paid 15 dollars for the game you
          umpire. It will be really helpful to get as many of you signed up to help out and support the other teams we
          play against.
</p>
      </div>

    <div class = "col-sm-6 backing">
        <img class="img-fluid" src = "static/images/teams3.jpg" alt = "team photo">
    </div>
</div>

<div class = "row">
        <div class = "col-sm-6 backing">
    <img class="img-fluid" src = "static/images/teams4.jpg" alt = "Team photo">
    </div>
      <div class = "col-sm-6 backing">
      <h3>Fees</h3>
      <hr>
      <p class="teamtext"> If your wanting to play in a team with Daves squad it will cost you <b> $280</b> for the whole season. Player fees
          include coach payment, registration fee and court use. If your wanting private sessions it will coast <b> $60 </b> for
          an hour price will include all the equipment used and the price of being able to use the court.
</p>
    </div>

</div>

</div>

{% endblock %}